/* Estilos CSS para el menú */

/* Estilos para la lista desordenada */
ul {
    list-style-type: none;
    /* Elimina los marcadores de lista */
    margin: 0;
    /* Elimina el margen exterior de la lista */
    padding: 0;
    /* Elimina el relleno interno de la lista */
    overflow: hidden;
    /* Oculta el contenido que desborda la lista */
    background-color: #333;
    /* Establece el color de fondo de la lista en gris oscuro (#333) */
}

/* Estilos para los elementos de la lista */
li {
    float: left;
    /* Hace que los elementos de la lista floten a la izquierda, creando un diseño horizontal */
}

/* Estilos para los enlaces dentro de los elementos de la lista */
li a {
    display: block;
    /* Convierte los enlaces en elementos de bloque */
    color: white;
    /* Establece el color del texto en blanco */
    text-align: center;
    /* Centra el texto dentro de los enlaces */
    padding: 14px 16px;
    /* Establece el relleno (padding) en la parte superior e inferior de 14px y en los lados izquierdo y derecho de 16px */
    text-decoration: none;
    /* Elimina la decoración de subrayado de los enlaces */
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'Montserrat', sans-serif;
    /* Establece la fuente de texto 'Montserrat' como la fuente predeterminada */
    background-color: #333;
    /* Establece el color de fondo en gris oscuro (#333) */
}

/* Estilos generales para todos los elementos */
* {
    margin: 0;
    /* Elimina el margen exterior de todos los elementos */
    padding: 0;
    /* Elimina el relleno interno de todos los elementos */
    box-sizing: border-box;
    /* Establece el modelo de caja como "border-box" para que el tamaño total de un elemento incluya el relleno y el borde */
}

/* Estilos para el encabezado */
header {
    color: #ffffff;
    /* Establece el color de texto en blanco */
}

header h2 span {
    color: aquamarine;
    /* Establece el color de texto en aquamarine para los elementos <span> dentro de los encabezados <h2> */
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    /* Establece el contenedor de la barra de navegación como un contenedor flexible */
    justify-content: space-between;
    /* Distribuye el espacio disponible entre los elementos de la barra de navegación */
    padding: 2rem;
    /* Establece el relleno (padding) en todos los lados de 2rem */
}

/* Estilos para el menú */
.menu {
    display: flex;
    /* Establece el menú como un contenedor flexible */
    width: 50%;
    /* Establece el ancho del menú en el 50% del contenedor padre */
    justify-content: space-around;
    /* Distribuye el espacio disponible alrededor de los elementos del menú */
}

.menu li {
    list-style: none;
    /* Elimina los marcadores de lista para los elementos del menú */
}

.menu a {
    color: #ffffff;
    /* Establece el color de texto en blanco para los enlaces del menú */
    text-decoration: none;
    /* Elimina la decoración de subrayado de los enlaces del menú */
}

.menu .active {
    color: aquamarine;
    /* Establece el color de texto en aquamarine para los elementos del menú activos */
}

.menu li:hover {
    background-color: aquamarine;
    /* Establece el color de fondo en aquamarine para los elementos del menú al pasar el cursor sobre ellos */
    transition: ease-in .5s;
    /* Agrega una transición suave de 0.5 segundos al cambio de color de fondo */
}

.menu a:hover {
    color: #333;
    /* Establece el color de texto en gris oscuro (#333) para los enlaces del menú al pasar el cursor sobre ellos */
}

/* Estilos para el contenido principal */
main h1 span {
    color: aquamarine;
    /* Establece el color de texto en aquamarine para los elementos <span> dentro de los encabezados <h1> en el contenido principal */
}

main {
    color: #ffffff;
    /* Establece el color de texto en blanco para el contenido principal */
    display: flex;
    /* Establece el contenido principal como un contenedor flexible */
    padding: 2rem;
    /* Establece el relleno (padding) en todos los lados de 2rem */
    align-items: center;
    /* Centra verticalmente los elementos dentro del contenido principal */
}

main div {
    display: flex;
    /* Establece los elementos <div> dentro del contenido principal como contenedores flexibles */
    flex-direction: column;
    /* Establece la dirección de los elementos <div> como columna */
    justify-content: space-evenly;
    /* Distribuye el espacio disponible de manera uniforme entre los elementos <div> */
    align-items: center;
    /* Centra verticalmente los elementos dentro de los elementos <div> */
}

main h1 {
    margin-bottom: 2rem;
    /* Establece un margen inferior de 2rem para los encabezados <h1> en el contenido principal */
}

main p {
    margin-bottom: 2rem;
    /* Establece un margen inferior de 2rem para los párrafos en el contenido principal */
}

main div {
    padding: 2rem;
    /* Establece el relleno (padding) en todos los lados de 2rem para los elementos <div> dentro del contenido principal */
}

/* Estilos para el botón de descarga de PDF */
.descarga-pdf button {
    padding: 10px 20px;
    /* Establece el relleno (padding) de 10px en la parte superior e inferior y de 20px en los lados izquierdo y derecho del botón de descarga de PDF */
    background-color: aquamarine;
    /* Establece el color de fondo del botón en aquamarine */
    border: none;
    /* Elimina el borde del botón */
    border-radius: 20px;
    /* Establece el radio de la esquina del botón en 20px para que tenga forma redondeada */
    margin-top: 2rem;
    /* Establece un margen superior de 2rem para el botón de descarga de PDF */
    cursor: pointer;
    /* Cambia el cursor del mouse a un puntero al pasar por encima del botón */
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
    /* Agrega una sombra al botón */
}

.descarga-pdf button:hover {
    background-color: #ffffff;
    /* Cambia el color de fondo del botón a blanco al pasar el cursor sobre él */
    box-shadow: none;
    /* Elimina la sombra del botón al pasar el cursor sobre él */
}

/* Estilos para la sección "Acerca de" */
.about {
    color: #ffffff;
    /* Establece el color de texto en blanco para la sección "Acerca de" */
    display: flex;
    /* Establece la sección "Acerca de" como un contenedor flexible */
    padding: 2rem;
    /* Establece el relleno (padding) en todos los lados de 2rem */
    align-items: center;
    /* Centra verticalmente los elementos dentro de la sección "Acerca de" */
}

.about p {
    padding: 2rem;
    /* Establece el relleno (padding) en todos los lados de 2rem para los párrafos dentro de la sección "Acerca de" */
}

/* Estilos CSS para el contenedor de las chispitas */
#sparkles-container {
    position: fixed;
    /* Establece la posición fija para el contenedor */
    top: 0;
    /* Ubica el contenedor en la parte superior */
    left: 0;
    /* Ubica el contenedor en la parte izquierda */
    width: 100%;
    /* Establece el ancho del contenedor al 100% del viewport */
    height: 100%;
    /* Establece la altura del contenedor al 100% del viewport */
    pointer-events: none;
    /* Desactiva los eventos de puntero en el contenedor */
    overflow: hidden;
    /* Oculta las chispas que se salgan del contenedor */
}

/* Estilos CSS para las chispas */
.sparkle {
    position: absolute;
    /* Establece la posición absoluta para las chispas */
    top: 0;
    /* Ubica las chispas en la parte superior del contenedor */
    left: 0;
    /* Ubica las chispas en la parte izquierda del contenedor */
    width: 10px;
    /* Establece el ancho de las chispas */
    height: 10px;
    /* Establece la altura de las chispas */
    background-color: yellow;
    /* Establece el color de fondo de las chispas como amarillo */
    border-radius: 50%;
    /* Establece el radio de borde para que las chispas sean círculos */
    pointer-events: none;
    /* Desactiva los eventos de puntero en las chispas */
    transform: scale(0);
    /* Establece la escala inicial de las chispas en 0, lo que las hace invisibles */
    animation: sparkleEffect 1s infinite;
    /* Agrega la animación "sparkleEffect" a las chispas, con una duración de 1 segundo y se repite infinitamente */
}

@keyframes sparkleEffect {
    0% {
        opacity: 0;
        /* Al inicio de la animación, establece la opacidad de las chispas en 0, haciéndolas invisibles */
        transform: scale(0);
        /* Al inicio de la animación, establece la escala de las chispas en 0 */
    }

    50% {
        opacity: 1;
        /* A la mitad de la animación, establece la opacidad de las chispas en 1, haciéndolas completamente visibles */
        transform: scale(1);
        /* A la mitad de la animación, establece la escala de las chispas en 1 */
    }

    100% {
        opacity: 0;
        /* Al final de la animación, establece la opacidad de las chispas en 0, haciéndolas invisibles */
        transform: scale(0);
        /* Al final de la animación, establece la escala de las chispas en 0 */
    }
}

.servicios-container {
    display: flex;
    /* Establece el contenedor como un contenedor flexible */
    justify-content: center;
    /* Centra horizontalmente los elementos dentro del contenedor */
    align-items: center;
    /* Centra verticalmente los elementos dentro del contenedor */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan a una nueva línea si no caben en una sola línea */
    margin-top: 30px;
    /* Establece un margen superior de 30px para separar el contenedor de otros elementos */
}

.servicio-card {
    width: 300px;
    /* Establece un ancho fijo de 300px para las cards */
    background-color: #fff;
    /* Establece el color de fondo de las cards como blanco */
    border-radius: 5px;
    /* Agrega esquinas redondeadas con un radio de 5px a las cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave a las cards */
    margin: 10px;
    /* Establece un margen de 10px alrededor de las cards */
    padding: 20px;
    /* Establece un relleno interno de 20px dentro de las cards */
}

.servicio-card img {
    width: 100%;
    /* Establece el ancho de la imagen dentro de las cards al 100% del contenedor */
    height: auto;
    /* Ajusta automáticamente la altura de la imagen para mantener la proporción */
    border-radius: 5px;
    /* Agrega esquinas redondeadas con un radio de 5px a la imagen */
    margin-bottom: 10px;
    /* Agrega un margen inferior de 10px a la imagen dentro de las cards */
}

.servicio-card h3 {
    font-size: 20px;
    /* Establece el tamaño de fuente del título de la card en 20px */
    color: #333;
    /* Establece el color del texto del título de la card como gris oscuro */
    margin-bottom: 10px;
    /* Agrega un margen inferior de 10px al título de la card */
}

.servicio-card p {
    color: #666;
    /* Establece el color del texto del párrafo de la card como gris */
    margin-bottom: 2rem;
    /* Agrega un margen inferior de 2rem al párrafo de la card */
}

.servicio-card a {
    padding: 10px 20px;
    /* Establece el relleno (padding) de 10px en la parte superior e inferior y de 20px en los lados izquierdo y derecho del botón de descarga de PDF */
    background-color: aquamarine;
    /* Establece el color de fondo del botón en aquamarine */
    border: none;
    /* Elimina el borde del botón */
    border-radius: 20px;
    /* Establece el radio de la esquina del botón en 20px para que tenga forma redondeada */
    margin-top: 4rem;
    /* Establece un margen superior de 2rem para el botón de descarga de PDF */
    cursor: pointer;
    /* Cambia el cursor del mouse a un puntero al pasar por encima del botón */
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
    /* Agrega una sombra al botón */
}

.servicio-card a:hover {
    background-color: #ffffff;
    /* Cambia el color de fondo del botón a blanco al pasar el cursor sobre él */
    box-shadow: none;
    /* Elimina la sombra del botón al pasar el cursor sobre él */
}

.servicio-card a {
    text-decoration: none;
    color: #666;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .servicio-card {
        width: 100%;
    }
}